#connect to database and import tables

In [1]:
from dbconnector import *
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
%matplotlib inline
%gui

In [2]:
dbconfig = get_configuration()
connection = make_connection(dbconfig)
q_devices = "Select * from datasci.devices"
q_actions = "Select * from datasci.actions"
q_products_lookup = "Select * from datasci.products_lookup"

devices = query_db(connection, q_devices)
actions = query_db(connection, q_actions)
product_lookup = query_db(connection, q_products_lookup)

##Question 1: Which segment is the most valuable?

* Segment 1:Bought @ least 1 item from best buy
* segment 2: own at least one Status Indicator Sm
* segment 3: have made at least one holiday purchase [holiday = month 10,11,12]

In [5]:
segment1 = actions[actions['action_type'] == 'purchase']

In [6]:
segment1 = segment1[segment1['dealer'] == 'Best Buy']['user_id'].unique()

In [7]:
segment2 = devices[devices['item_id'] == 55]['user_id'].unique()

In [8]:
segment3 = actions[actions.time_stamp.map(lambda x: x.month in [10,11,12])]

In [9]:
segment3 = segment3[actions['action_type'] == 'purchase']['user_id'].unique()

C:\Anaconda\lib\site-packages\pandas\core\frame.py:1815: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

In [10]:
len(segment1),len(segment2),len(segment3)

(880, 3817, 4306)

In [11]:
devices['segment1'] = np.where(devices.user_id.map(lambda x: x in segment1),1,0)
devices['segment2'] = np.where(devices.user_id.map(lambda x: x in segment2),1,0)
devices['segment3'] = np.where(devices.user_id.map(lambda x: x in segment3),1,0)

In [12]:
actions['segment1'] = np.where(actions.user_id.map(lambda x: x in segment1),1,0)
actions['segment2'] = np.where(actions.user_id.map(lambda x: x in segment2),1,0)
actions['segment3'] = np.where(actions.user_id.map(lambda x: x in segment3),1,0)

In [13]:
devices

,user_id,coupon_code,item_id,dist_channel,time_stamp,item_registration_id,segment1,segment2,segment3
0,222256453,,14,Dist Partners,2013-04-29,111128226_000E58A7122CB_1006\r,0,0,0
1,222256453,,14,Dist Partners,2013-04-29,111128226_000E58A71DDA9_1006\r,0,0,0
2,222256453,,14,Dist Partners,2013-04-29,111128226_000E58A713C4B_1006\r,0,0,0
3,222256453,,14,Dist Partners,2013-04-29,111128226_000E58A720928_1006\r,0,0,0
4,222256453,,14,Dist Partners,2013-04-29,111128226_000E58A7164CD_1006\r,0,0,0
5,222347533,,57,Dist Partners,2013-05-23,111173766_000E588957B83_1016\r,0,0,0
6,222347533,,13,Dist Partners,2013-05-23,111173766_000E58EE989E7_1008\r,0,0,0
7,222347533,,57,Dist Partners,2013-05-23,111173766_000E588959624_1016\r,0,0,0
8,222418373,,57,Holographic Commerce,2014-06-23,111209186_B8E93720C65E5_1012\r,0,0,0
9,222418373,,13,Online,2014-06-23,111209186_B8E93711E400B_1008\r,0,0,0
10,222418373,,56,Retail,2014-06-23,111209186_000E58F19BD2E_1020\r,0,0,0
11,222418373,,56,Holographic Commerce,2014-06-23,111209186_B8E93731DC782_1020\r,0,0,0
12,218880421,,99,Dist Partners,2014-04-02,109440210_000E58224C66B_1005\r,0,1,0
13,218880421,,312,Dist Partners,2014-04-02,109440210_000E580194BF3_1002\r,0,1,0
14,222625833,,14,Holographic Commerce,2014-12-19,111312916_000E58A6D41C1_1006\r,0,1,1
15,220682287,,55,Retail,2014-03-05,110341143_B8E9375C12E86_1046\r,0,1,0
16,220682287,,13,Retail,2014-03-05,110341143_000E584EE29E6_1008\r,0,1,0
17,220682287,,57,Retail,2014-03-05,110341143_000E588800542_1016\r,0,1,0
18,222833293,,57,Retail,2013-10-09,111416646_000E58875E32A_1012\r,1,0,1
19,222833293,,56,Retail,2013-10-09,111416646_000E58F374AE9_1020\r,1,0,1
20,222833293,,13,Retail,2013-10-09,111416646_000E58157718E_1008\r,1,0,1
21,222868713,,13,Retail,2013-11-01,111434356_000E581F33A6D_1008\r,0,0,1
22,222934493,,57,Dist Partners,2013-08-26,111467246_000E5889C2B44_1016\r,0,0,1
23,223147013,,14,Dist Partners,2013-03-20,111573506_000E5824364CG_1006\r,0,1,1
24,223147013,,13,Holographic Commerce,2013-03-20,111573506_000E5846DF3AE_1008\r,0,1,1
25,223147013,,313,Retail,2013-03-20,111573506_000E58B0D4F24_1024\r,0,1,1
26,223248213,,14,Retail,2013-12-11,111624106_000E58AB311AB_1006\r,0,0,1
27,223248213,,13,Retail,2013-12-11,111624106_000E586EA52CG_1008\r,0,0,1
28,219300401,,13,Other,2014-11-21,109650200_000E5840A9383_1008\r,0,1,1
29,219300401,,312,Online,2014-11-21,109650200_000E5801DAAA1_1002\r,0,1,1
...,...,...,...,...,...,...,...,...,...
26940,224842619,,55,Retail,2014-08-13,112421309_B8E9378138244_1025\r,0,1,0
26941,219869651,,55,Dist Partners,2014-10-24,109934825_B8E937BB89A4G_1046\r,0,1,1
26942,223931313,,55,Dist Partners,2015-01-22,111965656_B8E937B3277E8_1025\r,0,1,0
26943,226202241,,56,Dist Partners,2014-11-01,113101120_B8E9373D189E9_1021\r,0,0,1
26944,224458565,,14,Dist Partners,2015-01-06,112229282_B8E9379595B02_1006\r,0,1,0
26945,224458565,,12,Dist Partners,2015-01-06,112229282_B8E93705087C5_1043\r,0,1,0
26946,226600463,,55,Retail,2014-10-09,113300231_B8E937B15EF49_1025\r,0,1,1
26947,226600969,,55,Retail,2015-02-24,113300484_B8E937B5D85C0_1025\r,0,1,1
26948,226600969,,13,Retail,2015-02-24,113300484_B8E9371FD73C4_1008\r,0,1,1
26949,226162773,,55,Dist Partners,2014-09-26,113081386_B8E93785C2404_1025\r,0,1,1
26950,226609065,,55,Retail,2014-10-10,113304532_B8E937B5A138B_1025\r,0,1,1
26951,225339511,,55,Holographic Commerce,2013-06-19,112669755_000E58C00588D_1025\r,0,1,0
26952,225334451,,55,Dist Partners,2015-03-09,112667225_B8E937B2B5FA1_1025\r,0,1,1
26953,225431603,,313,Holographic Commerce,2014-11-20,112715801_B8E93772E2950_1024\r,0,1,1
26954,226666749,,55,Retail,2014-11-14,113333374_B8E937BFA6422_1046\r,1,1,1
26955,226666749,,55,Retail,2014-11-14,113333374_B8E937BFADD42_1046\r,1,1,1
26956,226666749,,55,Retail,2014-11-14,113333374_B8E937BFADDCA_1046\r,1,1,1
26957,222495791,,55,Holographic Commerce,2014-11-04,111247895_B8E937B9CEC2B_1046\r,0,1,1
26958,226693061,,55,Online,2015-03-11,113346530_B8E937EB6EE4G_1046\r,0,1,0
26959,226320645,,12,Retail,2014-10-10,113160322_B8E937047A56C_1043\r,1,0,1
26960,226320645,,56,Retail,2014-10-10,113160322_B8E9373DEF44F_1021\r,1,0,1
26961,226320645,,56,Retail,2014-10-10,113160322_B8E9373DECC00_1021\r,1,0,1
26962,226794261,,56,Retail,2015-03-27,113397130_B8E93735B0FA7_1020\r,0,0,0
26963,224286525,,55,Retail,2015-03-23,112143262_B8E937E9060AF_1046\r,1,1,1
26964,224286525,,55,Retail,2015-03-23,112143262_B8E937EB094E3_1046\r,1,1,1
26965,226814501,,55,Retail,2015-02-10,113407250_B8E937B7FB64B_1025\r,0,1,0
26966,225558103,,55,Dist Partners,2014-12-30,112779051_B8E937BD0E08B_1046\r,0,1,1
26967,225339511,,132,Holographic Commerce,2013-06-19,112669755_000E586210D68_1018\r,0,1,0
26968,226829175,,55,Retail,2015-02-24,113414587_B8E937B4BFC28_1025\r,0,1,0
26969,226855993,,55,Retail,2015-02-17,113427996_B8E937E8A238C_1046\r,0,1,0

In [14]:
actions

,user_id,item_name,dealer,action_type,item_registration_id,time_stamp,item_price,segment1,segment2,segment3
0,224970131,,,partner_integration,,2014-10-07,0,0,0,0
1,224340667,,,partner_integration,,2014-10-08,0,0,1,0
2,225046537,,,partner_integration,,2014-10-08,0,0,0,0
3,225046537,,,partner_integration,,2014-10-08,0,0,0,0
4,219614121,,,partner_integration,,2014-10-08,0,0,0,0
5,225038441,,,partner_integration,,2014-10-10,0,0,0,1
6,225038441,,,partner_integration,,2014-10-10,0,0,0,1
7,225048055,,,partner_integration,,2014-10-11,0,0,1,1
8,225076391,,,email_sub,,2014-10-11,0,0,0,1
9,221716551,,,partner_integration,,2014-10-11,0,0,0,0
10,225048055,,,partner_integration,,2014-10-11,0,0,1,1
11,224497527,,,partner_integration,,2014-07-19,0,0,1,0
12,222281247,,,partner_integration,,2013-07-30,0,0,1,0
13,219538221,,,partner_integration,,2013-06-27,0,0,0,0
14,222220021,,,partner_integration,,2013-06-17,0,0,1,0
15,224734841,,,partner_integration,,2014-08-15,0,0,1,0
16,222220021,,,partner_integration,,2013-06-17,0,0,1,0
17,222261007,,,partner_integration,,2013-06-27,0,0,0,0
18,223445047,,,partner_integration,,2014-04-06,0,0,0,1
19,219700647,,,partner_integration,,2014-04-12,0,0,0,0
20,224603281,,,partner_integration,,2014-07-18,0,0,1,1
21,219549353,,,partner_integration,,2013-05-29,0,0,0,0
22,219032727,,,partner_integration,,2013-03-30,0,0,0,1
23,224967601,,,partner_integration,,2014-09-22,0,0,1,1
24,221835461,,,partner_integration,,2013-02-26,0,0,0,0
25,224967601,,,partner_integration,,2014-09-30,0,0,1,1
26,222589401,,,partner_integration,,2014-07-13,0,0,1,0
27,222347027,,,partner_integration,,2013-07-21,0,0,1,1
28,222276693,,,partner_integration,,2013-06-30,0,0,0,0
29,223945987,,,partner_integration,,2014-03-28,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
52937,226788695,,,email_sub,,2015-04-08,0,0,0,0
52938,226791731,,,email_sub,,2015-04-09,0,0,0,0
52939,226791731,,,partner_integration,,2015-04-09,0,0,0,0
52940,226791731,,,email_unsub,,2015-04-09,0,0,0,0
52941,226777057,,,partner_integration,,2015-04-09,0,0,0,0
52942,226797803,,,email_sub,,2015-04-10,0,0,0,0
52943,226802357,,,email_sub,,2015-04-10,0,0,0,0
52944,226802357,,,partner_integration,,2015-04-10,0,0,0,0
52945,226805899,,,email_sub,,2015-04-11,0,0,0,0
52946,226805899,,,partner_integration,,2015-04-11,0,0,0,0
52947,226811465,,,email_sub,,2015-04-11,0,0,0,0
52948,226813489,,,email_sub,,2015-04-11,0,0,0,0
52949,226813489,,,partner_integration,,2015-04-11,0,0,0,0
52950,226813489,,,partner_integration,,2015-04-11,0,0,0,0
52951,226813489,,,partner_integration,,2015-04-11,0,0,0,0
52952,226813489,,,partner_integration,,2015-04-11,0,0,0,0
52953,226722915,Dashboard + Monitor,other,purchase,113361457_B8E937A23D545_1007,2015-01-16,502,0,0,0
52954,226825633,,,email_sub,,2015-04-14,0,0,0,0
52955,226828163,,,email_sub,,2015-04-14,0,0,0,0
52956,224393797,,,partner_integration,,2015-04-16,0,0,0,1
52957,226842837,,,email_sub,,2015-04-17,0,0,0,0
52958,226842837,,,partner_integration,,2015-04-17,0,0,0,0
52959,226842837,,,partner_integration,,2015-04-17,0,0,0,0
52960,226846379,,,email_sub,,2015-04-17,0,0,0,0
52961,226846379,Dashboard,other,purchase,113423189_B8E93794189C9_1006,2015-04-02,344,0,0,0
52962,226802357,,,partner_integration,,2015-04-17,0,0,0,0
52963,226850933,,,email_sub,,2015-04-18,0,0,0,0
52964,226850933,,,partner_integration,,2015-04-18,0,0,0,0
52965,221557161,,,partner_integration,,2015-04-19,0,1,1,1
52966,226270551,,,partner_integration,,2015-04-20,0,0,0,1